.header {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 1px solid var(--banner-border-color);
  color: var(--text-color);
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  padding: 0.5rem;
  width: 100%;
}

.logo {
  font-weight: 700;
  text-decoration: none;
  color: #f45500;
}

.link {
  display: flex;
  gap: 0.5rem;
}

.link > a {
  text-decoration: none;
}

.logout {
  all: unset;
}

.link > a,
.logout {
  padding: 8px 12px;
  border-radius: 6px;
  font-weight: 500;
  font-size: 0.875rem;
  cursor: pointer;
}

.link > a:hover,
.logout:hover {
  background-color: #e7e9ee;
  color: #232323;
}
