.header {
    position: sticky;
    display: flex;
    justify-content: center;
    width: 100%;
    
    border-bottom: 1px solid var(--banner-border-color);
    color: var(--text-color);
}

.header a {
    text-decoration: none;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 16px;
    max-width: 1280px;
    padding: 0.5rem;
    width: 100%;
}

.logo {
    font-weight: 700;
}

.logo a{
    color: rgb(244, 85, 0);
}

.link {
    display: flex;
    gap: 0.5rem;
}

.logout {
    all: unset;
}

.link a, .logout {
    padding: 8px 12px;
    border-radius: 6px;
    font-weight: 500;   
    font-size: 0.875rem;
    cursor: pointer;
}

.link a:hover, .logout:hover {
    background-color: rgb(237, 239, 241);
    color: rgb(35, 35, 35);
}

