.add-container {
  display: flex;
  justify-content: right;
}

.add {
  border: none;
  border-radius: 6px;
  padding: 0.6rem;
  color: #ffffff;
  background-color: #1976d2;
  cursor: pointer;
}

.add:hover {
  background-color: #0078e1;
}

.add:active {
  background-color: #0270d0;
}
