.container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: 1fr max-content;
  width: 100%;
  height: 94vh;
}

.left-col {
  display: flex;
  justify-content: center;
  flex-direction: column;

  gap: 1.5rem;
  padding: 2rem;

  background-color: #e1f2fc;
}

.right-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.error {
  display: flex;
  align-items: center;
  gap: 0.25rem;

  color: #ff0000;
  font-weight: 500;

  margin-top: -12px;
  font-size: 0.875rem;
}

.icon {
  height: 15px;
  width: 18px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 375px;
  width: 100%;
}

.title {
  font-size: 1.375rem;
  height: 30px;
}

.form-layout {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 0.25rem;
}

.form-layout > label {
  font-weight: 500;
  font-size: 0.875rem;
}

.form-layout > input {
  padding: 0.75rem;
  height: 40px;
  border: 1px solid #cacaca;
  border-radius: 6px;
  background-color: var(--base-color);
}

.form-layout > input:focus {
  outline-color: #002e57;
}

.form-layout > input::-ms-reveal {
  display: none;
}

.suffix {
  width: 18px;
  top: 28px;
  right: 13px;
  color: #aeaeae; 
  position: absolute;
}

.button {
  background-color: #0081f2;
  color: #ffffff;
  font-size: 1rem;
  height: 3.25rem;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

.button:hover {
  background-color: #0078e1;
}

.registered {
  font-size: 0.875rem;
}

.action {
  font-weight: 500;
  text-underline-offset: 2px;
}

.action:hover {
  color: #2d2d2d;
}

@media only screen and (max-width: 768px) {
  .container {
    grid-template-columns: 1fr;
    height: 100%;
    margin: auto;
  }

  .form {
    max-width: 600px;
    width: 100%;
    margin-top: 2em;
  }

  .left-col {
    display: none;
  }
}
