:root {
  --base-color: #f9fbfd;

  --text-color: #000000;
  --muted-text-color: #606060;

  --link-color: rgb(238, 238, 238);
  --link-hover-color: rgb(227, 227, 227);

  --banner-background: #ffffff;
  --banner-border-color: #e0e0e0;
}

.darkmode {
  --base-color: #f9fbfd;

  --text-color: #000000;
  --muted-text-color: #606060;

  --link-color: rgb(238, 238, 238);
  --link-hover-color: rgb(227, 227, 227);

  --banner-background: #ffffff;
  --banner-border-color: #e0e0e0;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background-color: var(--base-color);
}

a {
  color: inherit;
  color: var(--text-color);
}