.filter-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 6px;
  padding: 14px 16px;
  margin-bottom: 1em;
  text-align: left;

  background-color: rgb(245, 246, 248);
}

.filter-card > div {
  display: flex;
  width: 15%;
}

.filter-card > div:last-child {
  gap: 1rem;
}

.filter-card > input {
  display: flex;
  gap: 1rem;
  width: 15%;
  border-radius: 6px;
  border: 1px solid rgb(190, 190, 190);
}

.filter-card > input:first-child {
  width: auto;
}

.button {
  all: unset;
  color: rgb(95, 99, 104);
  cursor: pointer;

  display: flex;
  align-items: center;
  height: 15px;
  width: 18px;
}

.button:hover {
  color: rgb(66, 69, 73);
}

.flex {
  display: flex;
  flex-direction: column;
}

.subtitle {
  font-size: 0.625rem;
  font-weight: 400;
  color: #161616;
}

.desktop-card,
.mobile-card {
  font-weight: 500;
  background-color: rgb(231, 233, 238);
}

.mobile-card {
  display: none;
}

@media only screen and (max-width: 968px) {
  .desktop-card {
    display: none;
  }

  .mobile-card {
    display: flex;
  }
}
