.card {
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid #d4d4d4;
}

.filter-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 6px;
  padding: 14px 16px;
  margin-bottom: 1em;
  text-align: left;

  background-color: #f7f8fc;
}

.filter-card > div {
  display: flex;
  width: 15%;
}

.filter-card > select {
  display: flex;
  width: 15%;
  border-radius: 6px;
  border: 1px solid #bebebe;
}

.filter-card > div:last-child {
  gap: 1rem;
}

.filter-card > input {
  display: flex;
  width: 15%;
  border-radius: 6px;
  border: 1px solid #bebebe;
}

.filter-card > input:first-child {
  width: auto;
}

.button {
  all: unset;
  color: #5f6368;
  cursor: pointer;

  display: flex;
  align-items: center;
  height: 15px;
  width: 18px;
}

.button:hover {
  color: #424549;
}

.flex {
  display: flex;
  flex-direction: column;
}

.subtitle {
  font-size: 0.625rem;
  font-weight: 400;
  color: #161616;
}

.desktop-card,
.mobile-card {
  font-weight: 500;
  background-color: #e9ecf3;
}

.mobile-card {
  display: none;
}

@media only screen and (max-width: 968px) {
  .desktop-card {
    display: none;
  }

  .mobile-card {
    display: flex;
  }
}
