.calendar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    overflow: hidden;
    border: 1px solid #d4d4d4;
    border-radius: 6px;
  }
  
  .calendar {
    width: 100%;
    height: auto;
  }