.date-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;
}

.date-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.date-styling {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 8px 16px;
  border: 1px solid #d4d4d4;
  border-radius: 6px;
}

.date {
  width: 145px;
  text-align: center;
}

.button {
  all: unset;
  color: #5f6368;
  cursor: pointer;

  display: flex;
  align-items: center;
  height: 15px;
  width: 18px;
}

.button:hover {
  color: #424549;
}

.reset-button {
  cursor: pointer;
  background: none;
}

.reset-button:hover {
  background-color: #eeeff3;
}

.reset-button:active {
  background-color: #e9ebef;
}

.mobileDate {
  display: none;
}

@media only screen and (max-width: 968px) {
  .mobileDate {
    display: block;
  }
}
