.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  padding: 6px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #b6b6b6;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 0.6s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.div {
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
  font-size: 0.875rem;
}

.tabs {
  max-width: 1080px;
  padding: 36px 0px 2px 16px;
  margin: auto;

  display: flex;
  gap: 0.35rem;
}

.tabs a {
  text-decoration: none;
  padding: 0.5rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  background-color: rgb(225, 227, 232);
}

.tabs a:hover {
  background-color: rgb(222, 225, 231);
}

/* Main Container */
.grid {
  display: grid;
  grid-template-columns: 25% 75%;
  gap: 1rem;

  max-width: 1080px;
  padding: 1rem;
  margin: auto;
  font-size: 0.875rem;
}

.left-col,
.right-col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.date-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.5rem;
}

.button {
  all: unset;
  color: rgb(95, 99, 104);
  cursor: pointer;

  display: flex;
  align-items: center;
  height: 20px;
  width: 20px;
}

.button:hover {
  color: rgb(66, 69, 73);
}

.date-styling {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid rgb(216, 216, 216);
  padding: 8px 16px;
  border-radius: 6px;
}

.card {
  padding: 1rem;
  border-radius: 6px;
  background-color: rgb(225, 227, 232);
}

@media only screen and (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .left-col {
    display: none;
  }
}
