.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  padding: 6px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #adadad;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 0.6s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.div {
  width: 100%;
  border-bottom: 1px solid #f1f1f1;
  font-size: 0.875rem;
}

.tab-container {
  max-width: 1080px;
  padding: 36px 0px 0px 16px;
  margin: auto;

  display: flex;
  gap: 0.35rem;
}

.tab-container a {
  text-decoration: none;
  padding: 0.6rem;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.inactive:hover {
  background-color: rgb(231, 233, 238);
}

.active {
  background-color: rgb(231, 233, 238);
}

/* Main Container */
.grid {
  display: grid;
  grid-template-columns: 30% 70%;
  gap: 1rem;

  max-width: 1080px;
  padding: 1rem;
  margin: auto;
  font-size: 0.875rem;
}

.left-col,
.right-col {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.date-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.5rem;
}

.date-styling {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  border: 1px solid rgb(212, 212, 212);
  padding: 8px 16px;
  border-radius: 6px;
}

.date-flex {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
}

.reset-button {
  cursor: pointer;
  background: none;
}

.reset-button:hover {
  background-color: rgb(232, 234, 239);
}

.reset-button:active {
  background-color: rgb(227, 229, 235);
}

.date {
  width: 145px;
  text-align: center;
}

.button {
  all: unset;
  color: rgb(95, 99, 104);
  cursor: pointer;

  display: flex;
  align-items: center;
  height: 20px;
  width: 20px;
}

.button:hover {
  color: rgb(66, 69, 73);
}

.card {
  padding: 1rem;
  border-radius: 6px;
  border: 1px solid rgb(212, 212, 212);
}

.filter-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border-radius: 6px;
  padding: 1rem;
  margin-bottom: 1em;
  text-align: left;

  background-color: rgb(242, 242, 246);
}

.filter-card:nth-child(1) {
  font-weight: 500;
  background-color: rgb(231, 233, 238);
}

.filter-card > div {
  display: flex;
  gap: 1rem;
  width: 15%;
}

.calendar {
  width: auto;
  height: auto;
}

.add-container {
  display: flex;
  justify-content: right;
}

.add {
  display: flex;
  border-radius: 6px;
  padding: 0.6rem;
  border: none;
  color: white;
  background-color:  #1976d2;
  align-items: center;
  cursor: pointer;
}

.add:hover {
  background-color: rgb(0, 120, 225);
}

.add:active {
  background-color: rgb(2, 112, 208);
}

@media only screen and (max-width: 968px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .left-col {
    display: none;
  }

  .filter-card > div:last-child {
    display: none;
  }
  
  .date-header > div:last-child{
    display: none;
  }
}
